/* App.css */

.App {
  background-color: #767474; /* Un gris claro */
  min-height: 100vh; /* Altura mínima para cubrir toda la altura de la pantalla */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
