.white-paper {
  display: flex; /* Establece el contenedor .white-paper como un contenedor Flexbox */
  flex-direction: column; /* Los hijos de .white-paper se disponen en columna */
  justify-content: center; /* Centra los elementos en el eje principal (ahora vertical) */
  align-items: center; /* Centra los elementos en el eje cruzado (ahora horizontal) */
  background-color: white; /* Fondo blanco para el contenedor .white-paper */
  margin: 100px auto; /* Margen superior e inferior de 100px y margen izquierdo y derecho automático para centrar */
  padding: 130px; /* Espacio interno en todos los lados del contenedor .white-paper */
  border-radius: 5px; /* Esquinas redondeadas del contenedor con un radio de 5px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor del contenedor .white-paper */
  width: 90%; /* El ancho del contenedor .white-paper es el 90% del ancho de su contenedor padre */
  max-width: 1800px; /* El ancho máximo del contenedor .white-paper es de 1800px */
  height: auto; /* La altura del contenedor .white-paper se ajusta al contenido */
  box-sizing: border-box; /* El ancho y altura incluyen el contenido, el padding y el borde */
}

.chart-table-container {
  display: flex;
  justify-content: flex-start; /* Esto separará los elementos uniformemente */
  align-items: flex-start; /* Esto alinea los elementos al principio de su contenedor */
  width: 100%; /* Ocupa todo el ancho disponible de .white-paper */
}

.chart-container {
  flex: 0 0 70%; /* Esto da al contenedor del gráfico el 70% del ancho disponible */
  padding: 30px; /* Añade un poco de padding para separar los elementos si es necesario */
  box-sizing: border-box;
}

.table-container {
  flex: 0 0 20%; /* Esto da al contenedor de la tabla el 30% del ancho disponible */
  padding: 30px; /* Añade un poco de padding para separar los elementos si es necesario */
  box-sizing: border-box;
}